@charset "UTF-8";
@font-face {
  font-family: 'Dosis-Light';
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*для Extend  @extend %roboto-700;*/
/* line 13, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/var.scss */
.promo__title {
  font-family: 'Roboto-Medium';
}

/* line 17, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/var.scss */
.services__item-title {
  font-family: 'RobotoCondensed-Bold';
  font-weight: 700;
}

@font-face {
  font-family: 'Dosis-Light';
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*для Extend  @extend %roboto-700;*/
/* line 13, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/var.scss */
.promo__title {
  font-family: 'Roboto-Medium';
}

/* line 17, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/var.scss */
.services__item-title {
  font-family: 'RobotoCondensed-Bold';
  font-weight: 700;
}

/* line 4, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
html {
  box-sizing: border-box;
}

/* line 8, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* line 14, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* line 24, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 31, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 36, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 41, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.page {
  height: 100%;
  font-family: 'Roboto-Regular', 'Arial', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
}

/* line 49, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.page-body {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
}

/* line 58, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.container {
  padding: 0 20px;
}

/*640px*/
@media (min-width: 640px) {
  /* line 63, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .container {
    padding: 0 30px;
  }
}

/*768px*/
@media (min-width: 768px) {
  /* line 69, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .container {
    padding: 0 40px;
  }
}

/*1440px*/
@media (min-width: 1440px) {
  /* line 76, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .container {
    padding: 0px 110px 0px 100px;
  }
}

/* line 81, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #2B4074;
}

/*Button*/
/* line 89, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  width: 200px;
  border: none;
  text-transform: uppercase;
  display: none;
  border-radius: 2px;
  cursor: pointer;
}

@media (min-width: 320px) {
  /* line 102, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .promo .button {
    display: block;
  }
}

@media (min-width: 640px) {
  /* line 107, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .button {
    display: block;
    margin: 0 auto 113px;
  }
}

/*Header*/
/* line 2, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
.header {
  background-color: #2B4074;
}

/* line 5, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  /* line 14, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
  .header__inner {
    min-height: 100px;
  }
}

/* line 21, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
.logo__link {
  padding-left: 8px;
}

@media (min-width: 640px) {
  /* line 25, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
  .logo__link {
    padding-left: 18px;
  }
}

@media (min-width: 768px) {
  /* line 30, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
  .logo__link {
    padding-left: 0px;
  }
}

/* line 36, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
.menu__btn {
  width: 40px;
  height: 40px;
  background-repeat: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  padding: 0;
}

/* line 45, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/header.scss */
.menu__btn::after {
  content: "";
  width: 12px;
  height: 2px;
  top: 15px;
  left: 14px;
  background-repeat: 1px;
  position: absolute;
  background-color: #2B4074;
  box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

/*Slider*/
/* line 2, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.head {
  height: 193px;
  background-image: url(../images/head-desktop-img.png);
  background-repeat: no-repeat;
  position: center center;
  background-size: cover;
}

@media (min-width: 640px) {
  /* line 11, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .head {
    min-height: 386px;
  }
}

@media (min-width: 768px) {
  /* line 16, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .head {
    min-height: 465px;
  }
}

@media (min-width: 1024px) {
  /* line 21, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .head {
    min-height: 623px;
  }
}

@media (min-width: 1440px) {
  /* line 26, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .head {
    min-height: 668px;
  }
}

/* line 32, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider {
  background: rgba(33, 33, 33, 0.5);
  /*Dots*/
}

/* line 35, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}

/* line 41, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider__title {
  font-family: 'RobotoCondensed-Regular', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding: 42px 0 28px;
  max-width: 169px;
  /*чтоби текст слайдера переносился на новую строку*/
  margin: 0 auto;
  position: relative;
}

/* line 53, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider__title::after {
  /*линия в слайдере*/
  content: '';
  position: absolute;
  top: 118px;
  left: 0;
  right: 0;
  width: 61px;
  height: 8px;
  margin: 0 auto;
  background-color: #4A4A4A;
}

/* line 66, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider__text {
  display: none;
}

/* line 70, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider__btn {
  background-color: #2B4074;
  color: #F9F6E5;
  padding: 16px 45px;
}

/* line 77, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  /* button {
    font-size: 0;
    border: none;
    background-color: $accent;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;

  } */
}

/* line 86, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 2px solid green;
}

@media (min-width: 640px) {
  /* line 106, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider {
    min-height: 386px;
  }
  /* line 109, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__item {
    min-height: 386px;
  }
  /* line 113, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    max-width: 520px;
    padding: 50px 0 15px;
    margin-bottom: 30px;
  }
  /* line 120, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__title::after {
    /*линия в слайдере*/
    top: 175px;
    left: 0;
    right: 0;
    width: 61px;
    height: 8px;
    margin: 0 auto;
    background-color: #4A4A4A;
  }
}

@media (min-width: 768px) {
  /* line 134, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__item {
    min-height: 465px;
  }
  /* line 138, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__title {
    padding: 87px 0 0;
  }
  /* line 141, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__title::after {
    display: none;
  }
  /* line 146, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__text {
    display: block;
    width: 623px;
    margin: 0 auto 31px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  /* line 157, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__item {
    min-height: 623px;
  }
  /* line 161, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__title {
    padding: 101px 0 0;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
  }
  /* line 168, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__text {
    margin: 0 auto 12px;
  }
}

@media (min-width: 1440px) {
  /* line 175, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__item {
    min-height: 668px;
  }
  /* line 179, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__title {
    padding: 107px 0 18 px;
    font-size: 96px;
    line-height: 96px;
  }
  /* line 185, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/slider.scss */
  .top-slider__text {
    width: 867px;
    margin: 0 auto 28px;
    font-size: 24px;
    line-height: 26px;
  }
}

/*Promo*/
/* line 2, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
.promo {
  background-color: #2B4074;
}

/* line 5, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
.promo__inner {
  min-height: 301px;
  color: #fff;
  text-align: center;
}

/* line 11, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
.promo__title {
  padding-top: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 20, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
.promo__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 40px;
}

/* line 27, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
.promo__btn {
  background-color: #F9F6E5;
  color: #2B4074;
  padding: 16px 0;
  text-decoration: none;
  margin: 0 auto 40px;
}

@media (min-width: 768px) {
  /* line 38, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
  .promo__inner {
    min-height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* line 44, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
  .promo__inner-box {
    width: 427px;
    text-align: start;
  }
  /* line 50, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
  .promo__btn {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  /* line 57, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/promo.scss */
  .promo__inner {
    margin-left: 89px;
  }
}

/*Services head*/
/* line 2, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services {
  /*Services list*/
}

/* line 3, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__head {
  text-align: center;
}

/* line 7, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__title {
  padding-top: 25px;
  position: relative;
  margin-bottom: 60px;
}

/* line 12, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: #2B4074;
  top: 65px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

/* line 26, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__descr {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  color: #4A4A4A;
}

/* line 34, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #797979;
  margin-bottom: 40px;
}

/* line 43, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item {
  border: 1.2px solid #F9F6E5;
  border-bottom: none;
  /*чтобьi не бьiл двойньiм между карточками*/
  min-height: 310px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 53, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item:last-child {
  border-bottom: 1.2px solid #F9F6E5;
}

/* line 58, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item:hover .services__item-text,
.services__item:hover .services__item-link {
  display: block;
}

/* line 62, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item:hover .services__item-title {
  margin-bottom: 30px;
}

/* line 65, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item:hover .services__item-inner {
  border: 4px solid #2B4074;
  margin: 16px 18px 16px 18px;
}

/* line 73, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item-img {
  width: 64px;
  height: 64px;
  margin-top: 42px;
  margin-bottom: 30px;
}

/* line 80, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item-title {
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  margin: 0 auto;
}

/* line 90, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item-text {
  display: none;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #9B9B9B;
}

/* line 99, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
.services__item-link {
  display: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #2B4074;
  text-transform: uppercase;
  margin-bottom: 28px;
}

@media (min-width: 640px) {
  /* line 111, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services {
    /*Services list*/
  }
  /* line 112, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__title {
    font-size: 48px;
    padding-top: 40px;
    position: relative;
    margin-bottom: 30px;
  }
  /* line 118, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__title::after {
    top: 170px;
  }
  /* line 123, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__descr {
    max-width: 604px;
    font-size: 24px;
    margin-bottom: 68px;
  }
  /* line 129, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__text {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 135, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__list {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 140, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item {
    min-height: 320px;
    width: 50%;
  }
  /* line 145, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item:hover .services__item-inner {
    margin: 17px 15px 14px 16px;
  }
  /* line 148, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item:hover .services__item-img {
    margin-bottom: 5px;
  }
  /* line 151, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item:hover .services__item-title {
    margin-bottom: 22px;
  }
  /* line 157, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item:nth-child(2n+1) {
    border-right: none;
  }
  /* line 161, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item:last-child {
    border-bottom: none;
  }
  /* line 165, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item-img {
    width: 100px;
    height: 100px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  /* line 175, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services {
    /*Services list*/
  }
  /* line 176, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__head {
    text-align: start;
  }
  /* line 180, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__title {
    text-align: center;
    margin-bottom: 40px;
  }
  /* line 184, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__title::after {
    top: 150px;
    margin: 0;
  }
  /* line 190, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__descr {
    max-width: 689px;
    text-align: left;
    margin-bottom: 68px;
  }
  /* line 196, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__text {
    margin-bottom: 27px;
  }
  /* line 201, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item {
    min-height: 336px;
  }
  /* line 205, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item:hover .services__item-text {
    padding: 0 55px;
  }
  /* line 211, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item-img {
    width: 100px;
    height: 100px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  /* line 221, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services {
    /*Services list*/
  }
  /* line 222, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__text {
    max-width: 608px;
    margin-bottom: 32px;
  }
  /* line 228, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item {
    min-height: 274px;
    width: 25%;
  }
  /* line 234, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services:hover .services__item-text {
    padding: 0 11px;
  }
  /* line 238, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services:hover .services__item-inner {
    margin: 9px 17px 9px 17px;
  }
  /* line 243, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item:nth-child(2n) {
    border-right: none;
  }
  /* line 247, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__item-img {
    width: 64px;
    height: 64px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  /* line 257, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services {
    /*Services list*/
  }
  /* line 258, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__head {
    max-width: 393px;
    margin-right: 88px;
  }
  /* line 263, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__inner {
    display: flex;
  }
  /* line 267, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__title {
    text-align: left;
    padding-top: 90px;
    margin-bottom: 64px;
  }
  /* line 272, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__title::after {
    top: 250px;
  }
  /* line 277, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__descr {
    margin-bottom: 73px;
  }
  /* line 282, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/services.scss */
  .services__list {
    width: 853px;
  }
}

/* line 1, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects {
  text-align: center;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

/* line 5, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 70px;
  position: relative;
  color: #fff;
}

/* line 12, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #fff;
  top: 65px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

/* line 26, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__list {
  margin-bottom: 60px;
}

/* line 30, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__item {
  margin-bottom: 18px;
}

/* line 34, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__item img:hover {
  opacity: 0.5;
}

/* line 39, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__item-img {
  border-radius: 4px;
  margin-bottom: 20px;
}

/* line 44, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__item-link {
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #2B4074;
}

/* line 53, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
.projects__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 640px) {
  /* line 60, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__title {
    font-size: 48px;
    font-weight: 400;
    padding-top: 40px;
    margin-bottom: 80px;
  }
  /* line 66, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__title::after {
    width: 100px;
    top: 95px;
  }
  /* line 72, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__list {
    margin-bottom: 86px;
  }
  /* line 76, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__item-link {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  /* line 85, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__title {
    padding-top: 80px;
    margin-bottom: 96px;
  }
  /* line 89, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__title::after {
    top: 135px;
  }
  /* line 94, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  /* line 101, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  /* line 105, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__item-img {
    width: 325px;
    margin-bottom: 23px;
  }
  /* line 110, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__item-link {
    font-size: 20px;
    margin-bottom: 25px;
  }
  /* line 115, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__item-link:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  /* line 123, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__list {
    margin-bottom: 80px;
    padding: 0 140px;
  }
  /* line 128, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__item-img {
    width: 325px;
    margin-bottom: 29px;
  }
  /* line 133, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__item-link {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (min-width: 1440px) {
  /* line 142, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/projects.scss */
  .projects__list {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 50px;
    margin-bottom: 80px;
    gap: 10px;
  }
}

/* line 2, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

/* line 9, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team__inner-img {
  width: 100%;
  margin-bottom: 43px;
}

/* line 14, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team__content {
  text-align: center;
}

/* line 19, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team__content-title {
  position: relative;
  color: #4A4A4A;
  margin-bottom: 51px;
}

/* line 24, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team__content-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #2B4074;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

/* line 38, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team__content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #9B9B9B;
  margin-bottom: 84px;
}

/* line 46, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team__content-btn {
  background-color: #2B4074;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  width: 230px;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 21px 26px;
  margin-bottom: 40px;
}

/* line 65, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
.team .button {
  display: block;
}

@media (min-width: 640px) {
  /* line 71, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__inner-img {
    min-height: 478px;
    max-width: 520px;
    margin-bottom: 43px;
  }
  /* line 77, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title {
    margin-bottom: 68px;
  }
  /* line 80, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title::after {
    width: 88px;
    height: 8px;
    top: 45px;
  }
  /* line 87, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-text {
    margin-bottom: 60px;
  }
  /* line 91, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-btn {
    margin-bottom: 53px;
  }
}

@media (min-width: 768px) {
  /* line 99, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  /* line 106, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__inner-img {
    max-width: 240px;
    min-height: 227px;
    margin-right: 34px;
    margin-bottom: 0;
  }
  /* line 113, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content {
    width: 407px;
    text-align: left;
  }
  /* line 118, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 35px;
  }
  /* line 123, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title::after {
    width: 88px;
    height: 8px;
    top: 60px;
    margin: 0;
    left: 0;
  }
  /* line 132, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-text {
    font-size: 18px;
    line-height: 18px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  /* line 139, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-btn {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  /* line 147, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__inner-img {
    max-width: 395px;
    min-height: 380px;
    margin-right: 60px;
  }
  /* line 153, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title {
    font-size: 48px;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 45px;
  }
  /* line 159, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title::after {
    width: 88px;
    height: 8px;
    top: 70px;
  }
  /* line 166, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-text {
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  /* line 177, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__inner-img {
    max-width: 470px;
    min-height: 430px;
    margin-right: 93px;
  }
  /* line 183, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content {
    width: 584px;
  }
  /* line 187, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title {
    padding-top: 0;
    margin-bottom: 100px;
  }
  /* line 191, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-title::after {
    top: 85px;
  }
  /* line 196, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/team.scss */
  .team__content-text {
    margin-bottom: 90px;
  }
}

/* line 2, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
.quotes__content {
  text-align: center;
}

/* line 6, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
.quotes__content-text {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #4A4A4A;
  padding: 140px 12px 0;
  margin-bottom: 20px;
}

/* line 15, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
.quotes__content-text::before {
  content: "\201D";
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  font-size: 150px;
  color: #2B4074;
}

/* line 26, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
.quotes__content-text span {
  font-weight: 700;
  color: #2B4074;
}

/* line 31, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
.quotes__content-author {
  width: 270px;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #4A4A4A;
  padding-left: 15px;
  display: block;
  margin: 0 auto 40px;
}

/* line 42, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
.quotes__content-author::before {
  content: "\005F";
  position: absolute;
  left: 25px;
  top: -5px;
  font-size: 15px;
  color: #4A4A4A;
}

/* line 52, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
.quotes__content-icon {
  margin-bottom: 85px;
}

@media (min-width: 640px) {
  /* line 59, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-text {
    padding-top: 114px;
    font-size: 32px;
    line-height: 34px;
    width: 552px;
    margin: 0 auto 40px;
  }
  /* line 66, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-text::before {
    top: 50px;
  }
  /* line 71, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-icon {
    margin-bottom: 91px;
  }
}

@media (min-width: 768px) {
  /* line 79, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-text {
    width: 687px;
  }
  /* line 82, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-text::before {
    font-size: 80px;
    top: 70px;
  }
  /* line 88, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-icon {
    margin-bottom: 86px;
  }
}

@media (min-width: 1024px) {
  /* line 96, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-text {
    text-align: justify;
    width: 696px;
    padding-top: 158px;
    margin-bottom: 45px;
  }
  /* line 102, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-text::before {
    font-size: 80px;
    top: 90px;
    text-align: center;
  }
  /* line 109, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-author {
    margin-bottom: 80px;
  }
  /* line 113, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-icon {
    margin-bottom: 131px;
  }
}

@media (min-width: 1440px) {
  /* line 121, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/blocks/quotes.scss */
  .quotes__content-text {
    width: 900px;
    padding-top: 144px;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */