@charset "UTF-8";
@font-face {
  font-family: 'Dosis-Light';
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*для Extend*/
/* line 13, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/var.scss */
.promo__title {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

@font-face {
  font-family: 'Dosis-Light';
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*для Extend*/
/* line 13, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/var.scss */
.promo__title {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

/* line 4, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
html {
  box-sizing: border-box;
}

/* line 8, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* line 14, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* line 24, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 31, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 36, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.page {
  height: 100%;
  font-family: 'Roboto-Regular', 'Arial', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
}

/* line 44, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.page-body {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
}

/* line 53, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.container {
  padding: 0 20px;
}

/*640px*/
@media (min-width: 640px) {
  /* line 58, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .container {
    padding: 0 30px;
  }
}

/*768px*/
@media (min-width: 768px) {
  /* line 64, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .container {
    padding: 0 40px;
  }
}

/*1440px*/
@media (min-width: 1440px) {
  /* line 71, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
  .container {
    padding: 0px 150px 0px 61px;
  }
}

/* line 76, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/global.scss */
.title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #2B4074;
}

/*Header*/
/* line 6, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.header {
  background-color: #2B4074;
}

/* line 9, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  /* line 18, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .header__inner {
    min-height: 100px;
  }
}

/* line 25, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.logo__link {
  padding-left: 8px;
}

@media (min-width: 640px) {
  /* line 29, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .logo__link {
    padding-left: 18px;
  }
}

@media (min-width: 768px) {
  /* line 34, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .logo__link {
    padding-left: 0px;
  }
}

/* line 40, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.menu__btn {
  width: 40px;
  height: 40px;
  background-repeat: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  padding: 0;
}

/* line 49, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.menu__btn::after {
  content: "";
  width: 12px;
  height: 2px;
  top: 15px;
  left: 14px;
  background-repeat: 1px;
  position: absolute;
  background-color: #2B4074;
  box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

/*Slider*/
/* line 63, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.head {
  height: 193px;
  background-image: url(../images/head-desktop-img.png);
  background-repeat: no-repeat;
  position: center center;
  background-size: cover;
}

@media (min-width: 640px) {
  /* line 72, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .head {
    min-height: 386px;
  }
}

@media (min-width: 768px) {
  /* line 77, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .head {
    min-height: 465px;
  }
}

@media (min-width: 1024px) {
  /* line 82, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .head {
    min-height: 623px;
  }
}

@media (min-width: 1440px) {
  /* line 87, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .head {
    min-height: 668px;
  }
}

/* line 93, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider {
  background: rgba(33, 33, 33, 0.5);
  /*Dots*/
}

/* line 96, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}

/* line 102, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider__title {
  font-family: 'RobotoCondensed-Regular', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding: 42px 0 28px;
  max-width: 169px;
  /*чтоби текст слайдера переносился на новую строку*/
  margin: 0 auto;
  position: relative;
}

/* line 114, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider__title::after {
  /*линия в слайдере*/
  content: '';
  position: absolute;
  top: 118px;
  left: 0;
  right: 0;
  width: 61px;
  height: 8px;
  margin: 0 auto;
  background-color: #4A4A4A;
}

/* line 127, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider__text {
  display: none;
}

/* line 131, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider__btn {
  background-color: #2B4074;
  color: #F9F6E5;
  padding: 16px 45px;
}

/* line 138, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

/* line 147, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 2px solid green;
}

/* line 153, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2B4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  /* line 167, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider {
    min-height: 386px;
  }
  /* line 170, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__item {
    min-height: 386px;
  }
  /* line 174, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    max-width: 520px;
    padding: 50px 0 15px;
    margin-bottom: 30px;
  }
  /* line 181, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__title::after {
    /*линия в слайдере*/
    top: 175px;
    left: 0;
    right: 0;
    width: 61px;
    height: 8px;
    margin: 0 auto;
    background-color: #4A4A4A;
  }
}

@media (min-width: 768px) {
  /* line 195, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__item {
    min-height: 465px;
  }
  /* line 199, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__title {
    padding: 87px 0 0;
  }
  /* line 202, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__title::after {
    display: none;
  }
  /* line 207, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__text {
    display: block;
    width: 623px;
    margin: 0 auto 31px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  /* line 218, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__item {
    min-height: 623px;
  }
  /* line 222, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__title {
    padding: 101px 0 0;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
  }
  /* line 229, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__text {
    margin: 0 auto 12px;
  }
}

@media (min-width: 1440px) {
  /* line 236, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__item {
    min-height: 668px;
  }
  /* line 240, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__title {
    padding: 107px 0 18 px;
    font-size: 96px;
    line-height: 96px;
  }
  /* line 246, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .top-slider__text {
    width: 867px;
    margin: 0 auto 28px;
    font-size: 24px;
    line-height: 26px;
  }
}

/*Button*/
/* line 256, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  width: 200px;
  border: none;
  text-transform: uppercase;
  display: none;
  border-radius: 2px;
  cursor: pointer;
}

@media (min-width: 640px) {
  /* line 268, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .button {
    display: block;
    margin: 0 auto 113px;
  }
}

/*Promo*/
/* line 275, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.promo {
  background-color: #2B4074;
}

/* line 278, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.promo__inner {
  min-height: 301px;
  color: #fff;
  text-align: center;
}

/* line 284, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.promo__title {
  padding-top: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 293, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.promo__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 40px;
}

/* line 300, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.promo__btn {
  background-color: #F9F6E5;
  color: #2B4074;
  padding: 16px 0;
  text-decoration: none;
  margin: 0 auto 40px;
}

@media (min-width: 640px) {
  /* line 309, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .promo__inner {
    min-height: 254px;
  }
}

/*Services head*/
/* line 315, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.services {
  /*Services list*/
}

/* line 316, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.services__head {
  text-align: center;
}

/* line 320, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.services__title {
  padding-top: 25px;
  position: relative;
  margin-bottom: 60px;
}

/* line 325, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.services__title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 8px;
  background-color: #2B4074;
  top: 65px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

/* line 339, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.services__descr {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  color: #4A4A4A;
}

/* line 347, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.services__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #797979;
  margin-bottom: 40px;
}

/* line 356, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
.services__item {
  border: 1.2px solid #F9F6E5;
  min-height: 310px;
}

/*320px*/
@media (min-width: 320px) {
  /* line 365, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .promo .button {
    display: block;
  }
}

/*640px*/
/*768px*/
/*1024px*/
/*1440px*/
@media (min-width: 1440px) {
  /* line 382, ../../../../../../Html lessons/November 2023/10-mobile-first-DiGi/sass/style.scss */
  .promo__inner {
    border: 2px solid greenyellow;
    margin: 0 79px 0 89px;
  }
}

/*# sourceMappingURL=style.css.map */