@import 'fonts';
@import 'var';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  font-family: 'Roboto-Regular', 'Arial', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
}

.page-body {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 20px;
}
/*640px*/
@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
/*768px*/
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

/*1440px*/
@media (min-width: 1440px) {
  .container {
    padding: 0px 110px 0px 100px;
  }
}

.title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: $accent;
}

/*Button*/
.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  width: 200px;
  border: none;
  text-transform: uppercase;
  display: none;
  border-radius: 2px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .promo .button {
    display: block;
  }
}
@media (min-width: 640px) {
  .button {
    display: block;
    margin: 0 auto 113px;
  }
}