@import 'fonts';
@import 'var';
@import 'global';

/*Header*/
.header {
  background-color: $accent;

  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .header {
    &__inner {
      min-height: 100px;
    }
  }
}


.logo__link {
  padding-left: 8px;
}
@media (min-width: 640px) {
  .logo__link {
    padding-left: 18px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    padding-left: 0px;
  }
}


.menu__btn {
  width: 40px;
  height: 40px;
  background-repeat: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  padding: 0;

  &::after {
    content: "";
    width: 12px;
    height: 2px;
    top: 15px;
    left: 14px;
    background-repeat: 1px;
    position: absolute;
    background-color: $accent;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

/*Slider*/
.head {
  height: 193px;
  background-image: url(../images/head-desktop-img.png);
  background-repeat: no-repeat;
  position: center center;
  background-size: cover;
}

@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}
@media (min-width: 768px) {
  .head {
    min-height: 465px;
  }
}
@media (min-width: 1024px) {
  .head {
    min-height: 623px;
  }
}
@media (min-width: 1440px) {
  .head {
    min-height: 668px;
  }
}


.top-slider {
  background: rgba(33, 33, 33, 0.50);
  
  &__item {
    color: #fff;
    text-align: center;
    min-height: 193px;
  }

  &__title {
    font-family: 'RobotoCondensed-Regular', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    padding: 42px 0 28px;   
    max-width: 169px;
    /*чтоби текст слайдера переносился на новую строку*/
    margin: 0 auto;
    position: relative;

    &::after {  /*линия в слайдере*/
      content: '';
      position: absolute;
      top: 118px;
      left: 0;
      right: 0;
      width: 61px;
      height: 8px;
      margin: 0 auto;
      background-color: $text-color;
    }
  }

  &__text {
    display: none;
  }

  &__btn {
    background-color: $accent;
    color: $text-button;
    padding: 16px 45px;
  }

  /*Dots*/
.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0; //размещение дотсов по центру
  right: 0;

  .slick-active {
    button {
      background-color: transparent;
      border: 2px solid green;
    }
  }

  button {
    font-size: 0;
    border: none;
    background-color: $accent;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;

  }
}
}
@media (min-width: 640px) {
  .top-slider {
    min-height: 386px;

    &__item {
      min-height: 386px;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      max-width: 520px;
      padding: 50px 0 15px;
      margin-bottom: 30px;

      &::after {  /*линия в слайдере*/
        top: 175px;
        left: 0;
        right: 0;
        width: 61px;
        height: 8px;
        margin: 0 auto;
        background-color: $text-color;
      }
    }
  }
}
@media (min-width: 768px) {
  .top-slider {
    &__item {
      min-height: 465px;
    }

    &__title {
      padding: 87px 0 0;

      &::after {
        display: none;
      }
    }

    &__text {
      display: block;        
      width: 623px;
      margin: 0 auto 31px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}
@media (min-width: 1024px) {
  .top-slider {
    &__item {
      min-height: 623px;
    }

    &__title {
      padding: 101px 0 0;
      font-size: 84px;
      line-height: 84px;
      letter-spacing: 2px;
    } 
      
    &__text {
      margin: 0 auto 12px;
    }
  }
}
@media (min-width: 1440px) {
  .top-slider {
    &__item {
      min-height: 668px;
    }

    &__title {
      padding: 107px 0 18 px;
      font-size: 96px;
      line-height: 96px;
    }

    &__text {
      width: 867px;
      margin: 0 auto 28px;
      font-size: 24px;
      line-height: 26px;
    }
  }
}

/*Button*/
.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  width: 200px;
  border: none;
  text-transform: uppercase;
  display: none;
  border-radius: 2px;
  cursor: pointer;
}
@media (min-width: 320px) {
  .promo .button {
    display: block;
  }
}
@media (min-width: 640px) {
  .button {
    display: block;
    margin: 0 auto 113px;
  }
}

/*Promo*/
.promo {
  background-color: $accent;
  
  &__inner {
    min-height: 301px;
    color: #fff;
    text-align: center;
  }

  &__title {
    padding-top: 40px;
    @extend %roboto-500;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 40px;
  }

  &__btn {
    background-color: $text-button;
    color: $accent;
    padding: 16px 0;
    text-decoration: none;
    margin: 0 auto 40px;
  }
}
            
@media (min-width: 768px) {
  .promo {
    &__inner {
      min-height: 97px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      &-box {
        width: 427px;
        text-align: start;
      }
    }

    &__btn {
      margin: 0;
    }
  }
}
@media (min-width: 1440px) {
  .promo {
    &__inner {
      border: 2px solid greenyellow;
      margin: 0 79px 0 89px;
    }
  }
}

/*Services head*/
.services {
  &__head {
    text-align: center;
  }

  &__title {
    padding-top: 25px;
    position: relative;
    margin-bottom: 60px;

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 8px;
      background-color: $accent;
      top: 65px;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
    }
  }

  &__descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: $text-color;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    color: $special-color;
    margin-bottom: 40px;
  }

  /*Services list*/
  &__item {
    border: 1.2px solid $border-color;
    border-bottom: none; /*чтобьi не бьiл двойньiм между карточками*/
    min-height: 310px;
    /* width: 272px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
      border-bottom: 1.2px solid $border-color;
    }

    &:hover {
      .services__item-text,
      .services__item-link {
        display: block;
      }
      .services__item-title {
        margin-bottom: 30px;
      }
      .services__item-inner {
        border: 4px solid $accent;
        margin: 16px 18px 16px 18px;
      }

    }
  }  
  
  &__item-img {
    width: 64px;
    height: 64px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  
  &__item-title {
    width: 200px;
    @extend %roboto-700;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2px;
    margin: 0 auto;
  }

  &__item-text {
    display: none;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #9B9B9B;
  }

  &__item-link {
    display: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
}

@media (min-width: 640px) {
  .services {
    &__title {
      font-size: 48px;
      padding-top: 40px;
      position: relative;
      margin-bottom: 30px;
  
      &::after {
        top: 170px;
      }
    }
  
    &__descr {
      max-width: 604px;
      font-size: 24px;
      margin-bottom: 68px;
    }
  
    &__text {
      font-size: 18px;
      line-height: 24px;
    }
  
    /*Services list*/
    &__list  {
      /* display: flex;
      flex-wrap: wrap; */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      min-height: 320px;

      &:hover {
        .services__item-inner {
          margin: 17px 15px 14px 16px;
        }
        .services__item-img {
          margin-bottom: 5px;
        }
        .services__item-title {
          margin-bottom: 22px;
        }
      }
    }  

    &__item:nth-child(2n+1) {
      border-right: none;
    }

    &__item:last-child {
      border-bottom: none;
    }

    &__item-img {
      width: 100px;
      height: 100px;
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 768px) {
  .services {
    &__head {
      text-align: start;
    }

    &__title {
      text-align: center;
      margin-bottom: 40px;

      &::after {
        top: 150px;
        margin: 0;
      }
    }
  
    &__descr {
      max-width: 689px;
      text-align: left;
      margin-bottom: 68px;
    }
  
    &__text {
      margin-bottom: 27px;
    }
  
    /*Services list*/
    &__item {
      min-height: 336px;
      

      &:hover {
        .services__item-text {
          padding: 0 55px;
        }
      }
    }  

    &__item:nth-child(2n+1) {
      border-right: none;
    }

    &__item:last-child {
      border-bottom: none;
    }

    &__item-img {
      width: 100px;
      height: 100px;
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1024px) {
  .services {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      min-height: 274px;
      width: 250px;
    }

    &:hover {
      .services__item-text {
        padding: 0 11px;
      }
    }

    &__item-img {
      width: 64px;
      height: 64px;
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1440px) {
  .services {
    &__inner {
      display: flex;
    }

    &__list {
      width: 853px;
    }
}
}