/*Services head*/
.services {
  &__head {
    text-align: center;
  }

  &__title {
    padding-top: 25px;
    position: relative;
    margin-bottom: 60px;

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 8px;
      background-color: $accent;
      top: 65px;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
    }
  }

  &__descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: $text-color;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    color: $special-color;
    margin-bottom: 40px;
  }

/*Services list*/
  &__item {
    border: 1.2px solid $border-color;
    border-bottom: none; /*чтобьi не бьiл двойньiм между карточками*/
    min-height: 310px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
      border-bottom: 1.2px solid $border-color;
    }

    &:hover {
      .services__item-text,
      .services__item-link {
        display: block;
      }
      .services__item-title {
        margin-bottom: 30px;
      }
      .services__item-inner {
        border: 4px solid $accent;
        margin: 16px 18px 16px 18px;
      }

    }
  }  
  
  &__item-img {
    width: 64px;
    height: 64px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  
  &__item-title {
    width: 200px;
    @extend %roboto-700;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2px;
    margin: 0 auto;
  }

  &__item-text {
    display: none;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #9B9B9B;
  }

  &__item-link {
    display: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 28px;
  }
}

@media (min-width: 640px) {
  .services {
    &__title {
      font-size: 48px;
      padding-top: 40px;
      position: relative;
      margin-bottom: 30px;
  
      &::after {
        top: 170px;
      }
    }
  
    &__descr {
      max-width: 604px;
      font-size: 24px;
      margin-bottom: 68px;
    }
  
    &__text {
      font-size: 18px;
      line-height: 24px;
    }
  
    /*Services list*/
    &__list  {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      min-height: 320px;
      width: 50%;

      &:hover {
        .services__item-inner {
          margin: 17px 15px 14px 16px;
        }
        .services__item-img {
          margin-bottom: 5px;
        }
        .services__item-title {
          margin-bottom: 22px;
        }
      }
    }  

    &__item:nth-child(2n+1) {
      border-right: none;
    }

    &__item:last-child {
      border-bottom: none;
    }

    &__item-img {
      width: 100px;
      height: 100px;
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 768px) {
  .services {
    &__head {
      text-align: start;
    }

    &__title {
      text-align: center;
      margin-bottom: 40px;

      &::after {
        top: 150px;
        margin: 0;
      }
    }
  
    &__descr {
      max-width: 689px;
      text-align: left;
      margin-bottom: 68px;
    }
  
    &__text {
      margin-bottom: 27px;
    }
  
    /*Services list*/
    &__item {
      min-height: 336px;
      
      &:hover {
        .services__item-text {
          padding: 0 55px;
        }
      }
    }  

    &__item-img {
      width: 100px;
      height: 100px;
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1024px) {
  .services {
    &__text {
      max-width: 608px;
      margin-bottom: 32px;
    }

    /*Services list*/
    &__item {
      min-height: 274px;
      width: 25%;
    }

    &:hover {
      .services__item-text {
        padding: 0 11px;
      }

      .services__item-inner {
        margin: 9px 17px 9px 17px;
      }
    }

    &__item:nth-child(2n) {
      border-right: none;
    }

    &__item-img {
      width: 64px;
      height: 64px;
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 1440px) {
  .services {
    &__head {
      max-width: 393px;
      margin-right: 88px;
    }

    &__inner {
      display: flex;
    }

    &__title {
      text-align: left;
      padding-top: 90px;
      margin-bottom: 64px;

      &::after {
        top: 250px;
      }
    }

    &__descr {
      margin-bottom: 73px;
    }

    /*Services list*/
    &__list {
      width: 853px;
    }
  }
} 